## ORDERS

In [ ]:
import pandas as pd

orders = pd.read_csv('orders.csv', dtype='str')

In [ ]:
orders.head(1)

In [ ]:
from datetime import date

products = []
productsIds = []
quantities = []
prices = []

orderDates = []
deliveryDates = []
deliveryTimes = []


for index, row in orders.iterrows():
    products.append(row.Products.split('; '))

    productId = row.productsIDs.split(', ')
    productsIds.append([int(val.strip()) for val in productId])

    quantity = row.Quantities.split(', ')
    quantities.append([int(val.strip()) for val in quantity])

    price = row.ProductPricesInCP.split(',')
    prices.append([float(val.strip()) for val in price])

    # create a date object representing March 1, 2023
    start_date = date(2023, 3, 1)


    orderDate = row.OrderDate.strip().split('-')
    orderDate = date(int(orderDate[0]), int(orderDate[1]), int(orderDate[2]))
    orderDates.append(orderDate)
    deliveryDate = row.DeliveryDate.strip().split('-')
    deliveryDate = date(int(deliveryDate[0]), int(deliveryDate[1]), int(deliveryDate[2]))

    deliveryTimes.append((deliveryDate-orderDate).days)
    print(deliveryTimes[-1])

orders.Products = products.copy()
orders.productsIDs = productsIds.copy()
orders.Quantities = quantities.copy()
orders.ProductPricesInCP = prices.copy()
orders.CartPriceInCP = [float(val.strip()) for val in orders.CartPriceInCP]
orders.OrderDate = orderDates.copy()
orders["DeliveryTime"] = deliveryTimes

In [8]:
orders.head(1)

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,Products,productsIDs,Quantities,CartPriceInCP,CartPrice,ProductPricesInCP,DeliveryTime
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),"[Blood of the Lycanthrope Antidote, Blanket, R...","[12436254, 24180928, 97076903, 33879927]","[8, 4, 9, 3]",10285.0,102 GP; 8 SP; 5 CP,"[1128.0, 2728.0, 5517.0, 912.0]",10

## PRODUCTS

In [ ]:
products = pd.read_csv('products.csv')

In [ ]:
products.head(1)

## REGIONS

In [9]:
regions = pd.read_csv('regions.csv')

In [10]:
regions.head(1)

       Territory  Nation         Region   Regional Manager  Area Area Manager
0  Adama's Tooth  Durpar  Thayan Empire  Tymoteusz Barrera  East   Vito Smith

In [12]:
regions = regions.rename(columns={"Regional Manager": "RegionalManager", "Area Manager": "AreaManager"})

In [13]:
regions.head(1)

       Territory  Nation         Region    RegionalManager  Area AreaManager
0  Adama's Tooth  Durpar  Thayan Empire  Tymoteusz Barrera  East  Vito Smith

## CUSTOMERS

In [14]:
customers = pd.read_csv('customers.csv')

In [15]:
customers.head(1)

,Account Code,Territory,Account Type,Key Account,Key Account Manager,Account Name,Account Manager
0,78973104,Gracklstugh,Private Buyer,Private Buyer,Magnus Mortensen,Abigaíl-Fuentes-Benítez Gracklstugh,Magnus Mortensen

In [16]:
customers = customers.rename(columns={"Account Code": "AccountCode", "Account Type": "AccountType", "Key Account": "KeyAccount",
                    "Key Account Manager": "KeyAccountManager", "Account Name": "AccountName", "Account Manager": "AccountManager"})

In [17]:
customers.head(1)

,AccountCode,Territory,AccountType,KeyAccount,KeyAccountManager,AccountName,AccountManager
0,78973104,Gracklstugh,Private Buyer,Private Buyer,Magnus Mortensen,Abigaíl-Fuentes-Benítez Gracklstugh,Magnus Mortensen