## ORDERS

In [34]:
import pandas as pd

orders = pd.read_csv('orders.csv', dtype='str')

In [35]:
orders.head(1)

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,Products,productsIDs,Quantities,CartPriceInCP,CartPrice,ProductPricesInCP
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),Blood of the Lycanthrope Antidote; Blanket; Ro...,"12436254, 24180928, 97076903, 33879927","8, 4, 9, 3",10285,102 GP; 8 SP; 5 CP,"1128, 2728, 5517, 912"

In [36]:
from datetime import date

products = []
productsIds = []
quantities = []
prices = []

orderDates = []
deliveryDates = []
deliveryTimes = []


for index, row in orders.iterrows():
    products.append(row.Products.split('; '))

    productId = row.productsIDs.split(', ')
    productsIds.append([int(val.strip()) for val in productId])

    quantity = row.Quantities.split(', ')
    quantities.append([int(val.strip()) for val in quantity])

    price = row.ProductPricesInCP.split(',')
    prices.append([float(val.strip()) for val in price])

    # create a date object representing March 1, 2023
    start_date = date(2023, 3, 1)


    orderDate = row.OrderDate.strip().split('-')
    orderDate = date(int(orderDate[0]), int(orderDate[1]), int(orderDate[2]))
    deliveryDate = row.DeliveryDate.strip().split('-')
    deliveryDate = date(int(deliveryDate[0]), int(deliveryDate[1]), int(deliveryDate[2]))

    deliveryTimes.append((deliveryDate-orderDate).days)
    # print(deliveryTimes[-1])

orders.OrderID = [int(id) for id in orders.OrderID]
orders.Products = products.copy()
orders.productsIDs = productsIds.copy()
orders.Quantities = quantities.copy()
orders.ProductPricesInCP = prices.copy()
orders.CartPriceInCP = [float(val.strip()) for val in orders.CartPriceInCP]
orders["DeliveryTime"] = deliveryTimes

In [37]:
orders.head(1)

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,Products,productsIDs,Quantities,CartPriceInCP,CartPrice,ProductPricesInCP,DeliveryTime
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),"[Blood of the Lycanthrope Antidote, Blanket, R...","[12436254, 24180928, 97076903, 33879927]","[8, 4, 9, 3]",10285.0,102 GP; 8 SP; 5 CP,"[1128.0, 2728.0, 5517.0, 912.0]",10

In [38]:
# orders.to_json('orders.json', orient='records', lines=True)

## PRODUCTS

In [39]:
products = pd.read_csv('products.csv')

In [40]:
products.head(1)

,product_code,Business Unit,Type,Products Business Line Leader,Subtype,Product Name,Brand Name,Brand Manager
0,10042766,LUXURY SPECIALTIES,ADVENTURING EQUIPMENT,Bubbles,CONTAINER,Alchemy Jug (Blue),ARCANTIC,Enthoril Murkywaters

In [41]:
products = products.rename(columns={"product_code": "ProductCode", "Business Unit": "BusinessUnit", 
                                    "Products Business Line Leader": "ProductsBusinessLineLeader",
                                    "Product Name": "ProductName", "Brand Name": "BrandName", "Brand Manager": "BrandManager"})

In [42]:
products.head(1)

,ProductCode,BusinessUnit,Type,ProductsBusinessLineLeader,Subtype,ProductName,BrandName,BrandManager
0,10042766,LUXURY SPECIALTIES,ADVENTURING EQUIPMENT,Bubbles,CONTAINER,Alchemy Jug (Blue),ARCANTIC,Enthoril Murkywaters

In [43]:
# products.to_json('products.json', orient='records', lines=True)

## REGIONS

In [44]:
regions = pd.read_csv('regions.csv')

In [45]:
regions.head(1)

       Territory  Nation         Region   Regional Manager  Area Area Manager
0  Adama's Tooth  Durpar  Thayan Empire  Tymoteusz Barrera  East   Vito Smith

In [46]:
regions = regions.rename(columns={"Regional Manager": "RegionalManager", "Area Manager": "AreaManager"})

In [47]:
regions.head(1)

       Territory  Nation         Region    RegionalManager  Area AreaManager
0  Adama's Tooth  Durpar  Thayan Empire  Tymoteusz Barrera  East  Vito Smith

In [48]:
# regions.to_json('regions.json', orient='records', lines=True)

## CUSTOMERS

In [49]:
customers = pd.read_csv('customers.csv')

In [50]:
customers.head(1)

,Account Code,Territory,Account Type,Key Account,Key Account Manager,Account Name,Account Manager
0,78973104,Gracklstugh,Private Buyer,Private Buyer,Magnus Mortensen,Abigaíl-Fuentes-Benítez Gracklstugh,Magnus Mortensen

In [51]:
customers = customers.rename(columns={"Account Code": "AccountCode", "Account Type": "AccountType", "Key Account": "KeyAccount",
                    "Key Account Manager": "KeyAccountManager", "Account Name": "AccountName", "Account Manager": "AccountManager"})

In [52]:
customers.head(1)

,AccountCode,Territory,AccountType,KeyAccount,KeyAccountManager,AccountName,AccountManager
0,78973104,Gracklstugh,Private Buyer,Private Buyer,Magnus Mortensen,Abigaíl-Fuentes-Benítez Gracklstugh,Magnus Mortensen

In [53]:
# customers.to_json('customers.json', orient='records', lines=True)

# Data cheating

In [54]:
import numpy as np

years = np.unique([date.split('-')[0] for date in orders.OrderDate])
months = np.unique([date.split('-')[1] for date in orders.OrderDate])
types = np.unique([t for t in products.Type])

circleData = []
for i in range(len(types)):
    circleData.append({'type': types[i], 'sum': 0})
    for year in years:
        circleData[i][year] = [0 for _ in range(12)]

In [55]:
circleData

[{'type': 'ADVENTURING EQUIPMENT',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]},
 {'type': 'ANIMALS & TRANSPORTATION',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]},
 {'type': 'ARMS & ARMOUR',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]},
 {'type': 'JEWELRY',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]},
 {'type': 'MUSICAL INSTRUMENT',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]},
 {'type': 'POTIONS & SCROLLS',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]},
 {'type': 'SUMMONING DEVICE',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]},
 {'type': 'TOOLS & KITS',
  'sum': 0,
  '2019': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2020': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2021': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2022': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  '2023': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}]

In [56]:
for index, row in orders.iterrows():
    date = row.OrderDate.split('-')
    year = date[0]
    month = int(date[1])

    for i in range(len(row.productsIDs)):
        productID = row.productsIDs[i]
        productType = np.array(products[products["ProductCode"] == productID].Type)[0]
        quantity = row.Quantities[i]
        for element in circleData:
            if element['type'] == productType:
                element[year][month-1] += quantity
                element['sum'] += quantity

In [57]:
circleData

[{'type': 'ADVENTURING EQUIPMENT',
  'sum': 1344504,
  '2019': [24680,
   21970,
   24393,
   23118,
   23259,
   21704,
   22760,
   22513,
   22652,
   23737,
   21575,
   22905],
  '2020': [21933,
   21561,
   23266,
   22080,
   22136,
   22037,
   23197,
   22371,
   22699,
   22664,
   22167,
   21911],
  '2021': [21276,
   19425,
   22198,
   21764,
   21821,
   21406,
   22298,
   22670,
   22180,
   23909,
   22009,
   23244],
  '2022': [24030,
   21582,
   21628,
   21523,
   22391,
   21835,
   22124,
   22233,
   21196,
   22082,
   21051,
   21855],
  '2023': [21746,
   20094,
   22733,
   21759,
   22684,
   21859,
   22419,
   23544,
   22434,
   24211,
   23868,
   26135]},
 {'type': 'ANIMALS & TRANSPORTATION',
  'sum': 219703,
  '2019': [3794,
   3425,
   3944,
   3842,
   3970,
   3752,
   3972,
   3789,
   3506,
   3548,
   3473,
   3839],
  '2020': [3671,
   3638,
   3749,
   3675,
   3859,
   3580,
   3611,
   3736,
   3796,
   3911,
   3523,
   3509],
  '2021': [3491,
   3277,
   3728,
   3480,
   3386,
   3452,
   3516,
   3610,
   3618,
   3919,
   3907,
   3821],
  '2022': [3814,
   3458,
   3687,
   3314,
   3751,
   3438,
   4042,
   3734,
   3535,
   3862,
   3491,
   3465],
  '2023': [3514,
   3216,
   3613,
   3719,
   3486,
   3577,
   3514,
   3951,
   3748,
   3657,
   3964,
   3836]},
 {'type': 'ARMS & ARMOUR',
  'sum': 1856446,
  '2019': [22593,
   20651,
   24161,
   23569,
   26175,
   25618,
   30258,
   28405,
   28310,
   31631,
   28600,
   30478],
  '2020': [29666,
   28793,
   30441,
   31636,
   32515,
   32211,
   34777,
   34505,
   32408,
   33415,
   33396,
   33800],
  '2021': [35168,
   30969,
   33860,
   29542,
   31903,
   29359,
   30125,
   32573,
   30979,
   34265,
   31639,
   33699],
  '2022': [35353,
   32540,
   33559,
   31513,
   33521,
   33807,
   34926,
   33597,
   32241,
   33368,
   32162,
   34799],
  '2023': [34487,
   31129,
   34609,
   32714,
   32207,
   30605,
   30082,
   31382,
   30375,
   27639,
   24710,
   23028]},
 {'type': 'JEWELRY',
  'sum': 177152,
  '2019': [3346,
   2722,
   3265,
   2980,
   3096,
   3033,
   3190,
   3060,
   3098,
   3325,
   2901,
   2943],
  '2020': [3165,
   2933,
   3059,
   3140,
   2793,
   2976,
   3044,
   3038,
   2634,
   2912,
   2860,
   2959],
  '2021': [2840,
   2871,
   2836,
   2973,
   2685,
   2788,
   2719,
   3187,
   2871,
   2911,
   3028,
   2924],
  '2022': [2771,
   2791,
   3169,
   2833,
   2788,
   2858,
   2879,
   2917,
   3058,
   3123,
   2627,
   2935],
  '2023': [2713,
   3089,
   3153,
   2592,
   2838,
   2905,
   2664,
   3094,
   2990,
   3063,
   3012,
   3185]},
 {'type': 'MUSICAL INSTRUMENT',
  'sum': 139203,
  '2019': [2717,
   2317,
   2588,
   2566,
   2474,
   2440,
   2345,
   2204,
   2473,
   2249,
   2248,
   2013],
  '2020': [2372,
   2137,
   2278,
   2184,
   2310,
   2192,
   2504,
   2262,
   2313,
   2428,
   2532,
   2204],
  '2021': [2142,
   2000,
   2363,
   2329,
   2410,
   2351,
   2281,
   2469,
   2087,
   2283,
   2284,
   2370],
  '2022': [2443,
   2097,
   2246,
   2195,
   2226,
   2258,
   2258,
   2174,
   2166,
   2109,
   2180,
   2514],
  '2023': [2523,
   2213,
   2266,
   2296,
   2329,
   2270,
   2234,
   2320,
   2621,
   2396,
   2447,
   2703]},
 {'type': 'POTIONS & SCROLLS',
  'sum': 463779,
  '2019': [8706,
   7484,
   8415,
   8325,
   7757,
   7679,
   8280,
   8078,
   7591,
   7723,
   7703,
   7456],
  '2020': [7387,
   7134,
   7828,
   7486,
   7945,
   7781,
   7906,
   7787,
   7515,
   7654,
   7760,
   7480],
  '2021': [7510,
   7049,
   8049,
   7872,
   7421,
   7708,
   7742,
   7678,
   7740,
   7766,
   7793,
   7845],
  '2022': [8038,
   7172,
   7689,
   7769,
   7411,
   7582,
   7726,
   7475,
   7509,
   7389,
   7292,
   8469],
  '2023': [7578,
   7149,
   7576,
   7487,
   7771,
   7678,
   7679,
   8039,
   7992,
   7817,
   7941,
   8518]},
 {'type': 'SUMMONING DEVICE',
  'sum': 141115,
  '2019': [2571,
   2174,
   2603,
   2467,
   2504,
   2296,
   2326,
   2465,
   2387,
   2560,
   2334,
   2621],
  '2020': [2429,
   2270,
   2478,
   2628,
   2498,
   2364,
   2322,
   2238,
   2465,
   2438,
   2218,
   2242],
  '2021': [2543,
   2055,
   2293,
   2159,
   2274,
   2286,
   2331,
   2130,
   2173,
   2354,
   2476,
   2548],
  '2022': [2327,
   2459,
   2411,
   2110,
   2330,
   2147,
   2264,
   2266,
   2472,
   2060,
   2110,
   2328],
  '2023': [2245,
   1865,
   2273,
   2370,
   2313,
   2292,
   2480,
   2571,
   2261,
   2693,
   2293,
   2655]},
 {'type': 'TOOLS & KITS',
  'sum': 486054,
  '2019': [9060,
   8339,
   8669,
   8550,
   8512,
   8287,
   8509,
   8342,
   8402,
   8191,
   7532,
   8180],
  '2020': [8074,
   7642,
   7955,
   8253,
   8406,
   7595,
   7870,
   7818,
   8222,
   8372,
   7558,
   7771],
  '2021': [7657,
   7093,
   8185,
   7902,
   8288,
   7877,
   7678,
   8501,
   8300,
   8752,
   7896,
   8616],
  '2022': [8278,
   7714,
   8191,
   7519,
   8073,
   7801,
   7942,
   7885,
   7589,
   8018,
   7724,
   8579],
  '2023': [8021,
   7039,
   8357,
   7822,
   8105,
   8089,
   7949,
   8919,
   7949,
   8399,
   8301,
   8937]}]

In [58]:
for i in range(len(circleData)):
    maxNr = 0
    minNr = np.inf
    for year in years:
        maxNr = max(maxNr, max(circleData[i][year]))
        minNr = min(minNr, min(circleData[i][year]))
    circleData[i]['minExtent'] = minNr
    circleData[i]['maxExtent'] = maxNr

In [59]:
circleData

[{'type': 'ADVENTURING EQUIPMENT',
  'sum': 1344504,
  '2019': [24680,
   21970,
   24393,
   23118,
   23259,
   21704,
   22760,
   22513,
   22652,
   23737,
   21575,
   22905],
  '2020': [21933,
   21561,
   23266,
   22080,
   22136,
   22037,
   23197,
   22371,
   22699,
   22664,
   22167,
   21911],
  '2021': [21276,
   19425,
   22198,
   21764,
   21821,
   21406,
   22298,
   22670,
   22180,
   23909,
   22009,
   23244],
  '2022': [24030,
   21582,
   21628,
   21523,
   22391,
   21835,
   22124,
   22233,
   21196,
   22082,
   21051,
   21855],
  '2023': [21746,
   20094,
   22733,
   21759,
   22684,
   21859,
   22419,
   23544,
   22434,
   24211,
   23868,
   26135],
  'minExtent': 19425,
  'maxExtent': 26135},
 {'type': 'ANIMALS & TRANSPORTATION',
  'sum': 219703,
  '2019': [3794,
   3425,
   3944,
   3842,
   3970,
   3752,
   3972,
   3789,
   3506,
   3548,
   3473,
   3839],
  '2020': [3671,
   3638,
   3749,
   3675,
   3859,
   3580,
   3611,
   3736,
   3796,
   3911,
   3523,
   3509],
  '2021': [3491,
   3277,
   3728,
   3480,
   3386,
   3452,
   3516,
   3610,
   3618,
   3919,
   3907,
   3821],
  '2022': [3814,
   3458,
   3687,
   3314,
   3751,
   3438,
   4042,
   3734,
   3535,
   3862,
   3491,
   3465],
  '2023': [3514,
   3216,
   3613,
   3719,
   3486,
   3577,
   3514,
   3951,
   3748,
   3657,
   3964,
   3836],
  'minExtent': 3216,
  'maxExtent': 4042},
 {'type': 'ARMS & ARMOUR',
  'sum': 1856446,
  '2019': [22593,
   20651,
   24161,
   23569,
   26175,
   25618,
   30258,
   28405,
   28310,
   31631,
   28600,
   30478],
  '2020': [29666,
   28793,
   30441,
   31636,
   32515,
   32211,
   34777,
   34505,
   32408,
   33415,
   33396,
   33800],
  '2021': [35168,
   30969,
   33860,
   29542,
   31903,
   29359,
   30125,
   32573,
   30979,
   34265,
   31639,
   33699],
  '2022': [35353,
   32540,
   33559,
   31513,
   33521,
   33807,
   34926,
   33597,
   32241,
   33368,
   32162,
   34799],
  '2023': [34487,
   31129,
   34609,
   32714,
   32207,
   30605,
   30082,
   31382,
   30375,
   27639,
   24710,
   23028],
  'minExtent': 20651,
  'maxExtent': 35353},
 {'type': 'JEWELRY',
  'sum': 177152,
  '2019': [3346,
   2722,
   3265,
   2980,
   3096,
   3033,
   3190,
   3060,
   3098,
   3325,
   2901,
   2943],
  '2020': [3165,
   2933,
   3059,
   3140,
   2793,
   2976,
   3044,
   3038,
   2634,
   2912,
   2860,
   2959],
  '2021': [2840,
   2871,
   2836,
   2973,
   2685,
   2788,
   2719,
   3187,
   2871,
   2911,
   3028,
   2924],
  '2022': [2771,
   2791,
   3169,
   2833,
   2788,
   2858,
   2879,
   2917,
   3058,
   3123,
   2627,
   2935],
  '2023': [2713,
   3089,
   3153,
   2592,
   2838,
   2905,
   2664,
   3094,
   2990,
   3063,
   3012,
   3185],
  'minExtent': 2592,
  'maxExtent': 3346},
 {'type': 'MUSICAL INSTRUMENT',
  'sum': 139203,
  '2019': [2717,
   2317,
   2588,
   2566,
   2474,
   2440,
   2345,
   2204,
   2473,
   2249,
   2248,
   2013],
  '2020': [2372,
   2137,
   2278,
   2184,
   2310,
   2192,
   2504,
   2262,
   2313,
   2428,
   2532,
   2204],
  '2021': [2142,
   2000,
   2363,
   2329,
   2410,
   2351,
   2281,
   2469,
   2087,
   2283,
   2284,
   2370],
  '2022': [2443,
   2097,
   2246,
   2195,
   2226,
   2258,
   2258,
   2174,
   2166,
   2109,
   2180,
   2514],
  '2023': [2523,
   2213,
   2266,
   2296,
   2329,
   2270,
   2234,
   2320,
   2621,
   2396,
   2447,
   2703],
  'minExtent': 2000,
  'maxExtent': 2717},
 {'type': 'POTIONS & SCROLLS',
  'sum': 463779,
  '2019': [8706,
   7484,
   8415,
   8325,
   7757,
   7679,
   8280,
   8078,
   7591,
   7723,
   7703,
   7456],
  '2020': [7387,
   7134,
   7828,
   7486,
   7945,
   7781,
   7906,
   7787,
   7515,
   7654,
   7760,
   7480],
  '2021': [7510,
   7049,
   8049,
   7872,
   7421,
   7708,
   7742,
   7678,
   7740,
   7766,
   7793,
   7845],
  '2022': [8038,
   7172,
   7689,
   7769,
   7411,
   7582,
   7726,
   7475,
   7509,
   7389,
   7292,
   8469],
  '2023': [7578,
   7149,
   7576,
   7487,
   7771,
   7678,
   7679,
   8039,
   7992,
   7817,
   7941,
   8518],
  'minExtent': 7049,
  'maxExtent': 8706},
 {'type': 'SUMMONING DEVICE',
  'sum': 141115,
  '2019': [2571,
   2174,
   2603,
   2467,
   2504,
   2296,
   2326,
   2465,
   2387,
   2560,
   2334,
   2621],
  '2020': [2429,
   2270,
   2478,
   2628,
   2498,
   2364,
   2322,
   2238,
   2465,
   2438,
   2218,
   2242],
  '2021': [2543,
   2055,
   2293,
   2159,
   2274,
   2286,
   2331,
   2130,
   2173,
   2354,
   2476,
   2548],
  '2022': [2327,
   2459,
   2411,
   2110,
   2330,
   2147,
   2264,
   2266,
   2472,
   2060,
   2110,
   2328],
  '2023': [2245,
   1865,
   2273,
   2370,
   2313,
   2292,
   2480,
   2571,
   2261,
   2693,
   2293,
   2655],
  'minExtent': 1865,
  'maxExtent': 2693},
 {'type': 'TOOLS & KITS',
  'sum': 486054,
  '2019': [9060,
   8339,
   8669,
   8550,
   8512,
   8287,
   8509,
   8342,
   8402,
   8191,
   7532,
   8180],
  '2020': [8074,
   7642,
   7955,
   8253,
   8406,
   7595,
   7870,
   7818,
   8222,
   8372,
   7558,
   7771],
  '2021': [7657,
   7093,
   8185,
   7902,
   8288,
   7877,
   7678,
   8501,
   8300,
   8752,
   7896,
   8616],
  '2022': [8278,
   7714,
   8191,
   7519,
   8073,
   7801,
   7942,
   7885,
   7589,
   8018,
   7724,
   8579],
  '2023': [8021,
   7039,
   8357,
   7822,
   8105,
   8089,
   7949,
   8919,
   7949,
   8399,
   8301,
   8937],
  'minExtent': 7039,
  'maxExtent': 9060}]

In [60]:
import json

with open('circleDataList.json', 'w') as fp:
    json.dump(circleData, fp)